node_modules
*.DS_Store
./DS_Store
npm-debug.log
/target/
/.settings/
.classpath
.project
.idea/
*.iml

iot-sensor-monitor-web/target/
iot-sensor-monitor-web/.settings/
iot-sensor-monitor-web/.classpath
iot-sensor-monitor-web/.project

iot-sensor-monitor-core/target/
iot-sensor-monitor-core/.settings/
iot-sensor-monitor-core/.classpath
iot-sensor-monitor-core/.project